<div class="intersection">
  <div class="traffic-light-container top">
    <app-trafficLight [id]="1"></app-trafficLight>
  </div>
  <div class="middle">
    <div class="traffic-light-container left">
      <app-trafficLight [id]="2"></app-trafficLight>
    </div>
    <div class="traffic-light-container right">
      <app-trafficLight [id]="3"></app-trafficLight>
    </div>
  </div>
  <div class="traffic-light-container bottom">
    <app-trafficLight [id]="4"></app-trafficLight>
  </div>
</div>
<button (click)="triggerEmergency()" [disabled]="isEmergency">Авария</button>
